[2016-10-23 00:12] negativetwelve opened #1 "[iOS] Allow userName to be a string or a number"
Currently crashes when using an int.

[2016-10-23 00:41] negativetwelve opened #2 "[JS] Create JS module to emulate the methods available"

[2016-10-23 00:41] negativetwelve opened #3 "[JS] Add eslint, babel-eslint for linting"

[2016-10-23 00:42] #1 closed

[2016-10-23 00:42] #2 closed

[2016-10-23 00:42] #3 closed

[2016-10-23 08:57] negativetwelve opened #5 "[iOS] Add urlForCurrentSession method"

[2016-10-23 08:57] negativetwelve opened #6 "[iOS] Add urlForCurrentUser method"

[2016-10-24 00:43] negativetwelve opened #7 "[iOS] Add occludeSensitiveScreen for hiding views"

[2016-10-24 00:48] #7 closed

[2016-10-24 00:50] negativetwelve opened #9 "[iOS] Add markUserAsFavorite method"

[2016-10-24 00:50] negativetwelve opened #10 "[iOS] Add addTagWithProperties method"

[2016-10-24 00:59] #5 closed

[2016-10-24 00:59] #6 closed

[2016-10-24 01:49] #9 closed

[2016-10-24 01:49] #10 closed

[2016-10-24 02:04] negativetwelve opened #13 "[iOS] Url methods should return a promise and use async / await"

[2016-10-24 02:22] #13 closed

[2016-10-24 15:28] negativetwelve opened #16 "[Android] Add initial android support"

[2016-10-24 15:29] negativetwelve opened #17 "[CI] Add CircleCI config and enable for the repo"

[2016-10-24 23:37] #16 closed

[2016-11-02 16:44] negativetwelve opened #18 "[iOS] Add support for upcoming SetAutomaticScreenNameTagging method"

[2016-11-02 17:15] #18 closed

[2016-11-04 10:44] negativetwelve opened #20 "[iOS] Add restartSession method"
* Not sure if this is an internal API but it's exposed via the headers (not in the official docs though)

[2016-11-04 10:44] negativetwelve opened #21 "[Android] Add setAutomaticScreenNameTagging method when released"

[2016-11-04 17:02] #20 closed

[2016-11-11 12:23] negativetwelve opened #23 "[SDK] Update to UXCam 2.5.8"

[2016-11-11 12:24] negativetwelve opened #24 "[iOS] Add promise based startWithKey method"

[2017-01-21 01:29] skleest opened #25 "[iOS] No known class method for selector 'SetAutomaticScreenNameTagging:'"
Hello,

Getting this warning while building:
No known class method for selector 'SetAutomaticScreenNameTagging:'

UXCam: 2.5.7 (pod)
"react-native-ux-cam": "^2.2.0"
"react-native": "^0.39.2",
iOS only

Thanks!

[2017-01-21 01:40] negativetwelve commented on #25
Oops, an upgrade to 2.5.8 should fix this issue, I'll do that right now!

[2017-01-21 01:41] #25 closed

[2017-01-21 01:43] negativetwelve commented on #23
Fixed via #26

[2017-01-21 01:43] #23 closed

[2017-02-01 01:04] negativetwelve opened #28 "[Android] Update version to 2.5.5 on gradle"

[2017-02-01 01:06] #28 closed

[2017-02-07 06:53] skleest opened #30 "[Android] Build fail?"
Hey @negativetwelve, thanks again for the package!

Working great on iOS; not integrating on Android but am getting a build error:

[code]

Am I missing something here?
"react-native-ux-cam": "^2.2.2",
"react-native": "^0.39.2",

Thanks!

[2017-02-07 07:20] negativetwelve commented on #30
Hi @skleest , thanks for pointing this out. I believe this is because of a patch I had merged in without thoroughly testing :/ Just reverted the commit, will send out another version now

[2017-02-07 07:22] negativetwelve commented on #30
Published as 2.2.3, @skleest would you mind giving this version a go and see if it works? I really need to add some automated testing to this...

[2017-02-07 18:42] skleest commented on #30
Hey @negativetwelve thanks for the fast turnaround as usual! With 2.2.3 android is building and the import statement isn't causing an error, but I can't use any properties of UXCam:

`Cannot read property 'tagUserName' of undefined`

Or whichever property I use first. Also tried adding additional statements listed on UXCam documentation (https://uxcam.com/docs?#android) but with no success. Wish I

[2017-02-07 23:27] negativetwelve commented on #30
no problem @skleest! Unfortunately, we don't have this installed on our android app yet. The android portion was actually built by @aouaki in https://github.com/negativetwelve/react-native-ux-cam/pull/15

@aouaki could you provide some insight here as to why some methods aren't working? Do you know if anything changed on the React Native side between ~0.32 and 0.39.2?

[2017-02-08 10:23] aouaki commented on #30
The error @skleest is encountering seems to be on the Javascript side. It seems like `import UXCam from 'react-native-ux-cam';` sets UXCam to _undefined_ for @skleest. Strangely enough, this is defined in https://github.com/negativetwelve/react-native-ux-cam/blob/master/src/UXCam.js so even if the native part is _broken_, it shouldn't be _undefined_.
I'll try to check if I can reproduce later toda

[2017-02-08 10:27] negativetwelve commented on #30
@aouaki thanks for the reply! I think you're on to something here.

@skleest can you post a full stack trace here? is the error happening when you import UXCam from 'react-native-ux-cam'? or is it happening here: https://github.com/negativetwelve/react-native-ux-cam/blob/master/src/UXCam.js#L40 at the reference to RNUXCam?

[2017-02-08 18:58] skleest commented on #30
@aouaki @negativetwelve
Thanks for the reply! Import statement is not causing error--only getting an error when I'm actually using the class as you highlighted, whichever property I use first.

Here is the error:
[code]

I currently have app/build.gradle as well as AndroidManifest set up as in instructions, and also onCreate method as in UXCam docs. The recordings are getting uploaded to UXCam no

[2017-04-05 13:27] ShadyXV opened #32 "[Android] undefined is not an object(evaluating 'RNUXCam.startWithKey')"
![screenshot_20170405-190452 1](https://cloud.githubusercontent.com/assets/11807140/24707543/bc6673ce-1a33-11e7-83ce-b5ca613c5163.png)

[2017-04-05 13:58] negativetwelve commented on #32
Hi there, what version of `react-native` and what version of `react-native-ux-cam` are you running?

Can you add these lines somewhere in your code and send me the output?

[code]

[2017-04-06 02:50] ShadyXV commented on #32
hi i using react-native of version 0.41.2 and react-native-ux-cam version 3.0.0.
![image](https://cloud.githubusercontent.com/assets/11807140/24735684/d6c45c34-1aa3-11e7-9550-2049b22e3a91.png)
this is what i get by logging NativeModules. I can't find ux cam anywhere in here! is that the problem.

[2017-04-06 05:00] ShadyXV commented on #32
hey @negativetwelve , i do think this issue is related to #30.I can't use any of the methods of UXCam because UXCam is undefined...

[2017-05-18 07:58] ylac commented on #32
You may need to add `compile project(':react-native-ux-cam')` to your app/build.gradle under dependencies.

[2017-05-19 02:05] fbazzana opened #33 "[Android] App crashes on launch"
Hi there!
I'm following the steps to integrate UXCam to my app, but it crashes on launch and it closes.

- react-native version: 0.37.0
- react-native-ux-cam version: 3.0.0

My build.gradle file:

[code]

[2017-05-19 03:15] fbazzana commented on #33
I found the solution upgrading play-services-gcm to 9.0.1

[2017-05-19 03:15] #33 closed

[2017-05-19 08:01] negativetwelve commented on #33
nice! sorry I couldn't get to this earlier, but glad you found a solution!

[2017-05-20 08:02] ylac opened #34 "Crashes Android App"
Hi, I've been trying to use this module but it keeps crashing with no error message on app start. I'm using react-native 0.43.3 and react-native-ux-cam 3.0.0.

I had to add "compile project(':react-native-ux-cam')" to the app/build.gradle to get it to register the package. Any ideas?

[2017-05-20 09:59] negativetwelve commented on #34
Hi @ylac sorry to hear that. Did you try the solution posted here? https://github.com/negativetwelve/react-native-ux-cam/issues/33

If that works for you, I'll add a note to the readme about it.

[2017-05-20 10:35] ylac commented on #34
Hi @negativetwelve, yep that fixed it for me, thanks a lot.

[2017-05-20 10:35] #34 closed

[2017-05-21 10:51] ylac opened #35 "Can't use on Android"
Hi, I'm having issues trying to use the module. It builds fine but if I console.log(UXCam) in react-native after importing UXCam it returns {}.

Strangely, if I change UXCam.js to export the class UXCam instead of the instance "new UXCam()", console.log(UXCam) returns a function. If I try to instantiate it there, it also returns an empty object. Is there something going on with the class export?

[2017-07-20 13:25] negativetwelve commented on #30
hey there @skleest, sorry for just now getting to this...

For me, I had to add the import:

[code]

to my Application.java file, then add:

[code]

to add the package to the app. Let me know if those steps work for you, I'll update the readme if they do!

[2017-07-20 13:25] negativetwelve commented on #32
hey there @ShadyXV, sorry for just now getting to this...

For me, I had to add the import:

[code]

to my Application.java file, then add:

[code]

to add the package to the app. Let me know if those steps work for you, I'll update the readme if they do!

[2017-07-20 13:26] negativetwelve commented on #35
hey there @ylac, sorry for just now getting to this...

For me, I had to add the import:

[code]

to my Application.java file, then add:

[code]

to add the package to the app. Let me know if those steps work for you, I'll update the readme if they do!

[2017-07-31 18:18] negativetwelve commented on #17
done!

[2017-07-31 18:18] #17 closed

[2017-08-07 22:16] StevePotter opened #36 "[iOS] UXCam causes first tap in ScrollView to be ignored after scrolling"
Hello, we've been using UXCam for a while and recently found a strange issue in our app.  In iOS, the first tap on an item in a React Native ScrollView didn't work.  Pressing a second time did.  We started a fresh RN project and it worked.  Then I went through our project and removed packages one by one.  Removing UXCam from our Obj-C code caused it to go away.

Here is a screencast of it happenin

[2017-08-07 22:50] negativetwelve commented on #36
Hey there @StevePotter, thanks for this super awesome bug report. I'm actually not affiliated with UXCam, it's run by @richardgroves on the technical side, I just created this react-native package because we needed to use this in our app as well.

With that said, we haven't seen this in our production app. Couple of questions:

1. What version of react-native are you running?
2. Did you try differ

[2017-08-07 22:51] #35 closed

[2017-08-07 22:51] #32 closed

[2017-08-07 22:51] #30 closed

[2017-08-07 23:50] StevePotter commented on #36
@negativetwelve I will get you a sample project within 24 hours.  It's nighttime here and I have to get my kids to bed.  Thanks!

[2017-08-07 23:53] negativetwelve commented on #36
no problem, thanks for tackling that! hope we can figure out what's going on

[2017-08-07 23:58] skleest commented on #30
Hey @negativetwelve sorry for checking this late! Haven't worked on Android in quite a while, will make sure to go back to it and let you know if I see any problems with it. Thanks again!

[2017-08-08 02:48] StevePotter commented on #36
@negativetwelve @richardgroves I put a sample project that clearly demonstrates the problem at [https://github.com/Vydia/UXCamScrollViewBug](https://github.com/Vydia/UXCamScrollViewBug)

The instructions are in the README.  The bug is demonstrated on `master` branch, and is eliminated on `without-uxcam` branch.  The instructions are detailed and a screencast is provided for when its broken as well

[2017-08-08 05:04] negativetwelve commented on #36
Hi @StevePotter I can confirm your issue and spent some time playing around with it but couldn't find a solution to fix it :/ Tried it out on both a real device and the simulator.

Our app is still running 0.42.3 but we're in the process of upgrading to 0.47. I'll let you know if this bug is introduced or not for us. Sorry I couldn't be more help.

[2017-08-08 08:17] richardgroves commented on #36
Hi,

Thanks again to @negativetwelve for the excellent work in maintaining this repo.

We'll look into the problem, but it sounds like it might be something that was fixed in a recent update to the UXCam SDK - could you try out UXCam SDK 2.5.10 and see if that fixes the problem? I'm not a react-native expert (by any measure) so am not sure how complicated it is to update the UXCam SDK - but AFAIR

[2017-08-08 14:40] StevePotter commented on #36
@richardgroves thanks for the response.  I made a branch [latest-pod](https://github.com/Vydia/UXCamScrollViewBug/tree/latest-pod) that has 2.5.11.  Unfortunately as you can see if you try the app, the bug persists.

I took it a step further and created another branch [no-react-native-package](https://github.com/Vydia/UXCamScrollViewBug/tree/no-react-native-package) that doesn't use the react-nati

[2017-08-08 14:43] StevePotter commented on #36
@negativetwelve I confirmed the RN version doesn't affect the bug.  I made a fresh RN project with both 0.42 and 0.47 and they work fine without UXCam but the moment I add the UXCam framework and `[UXCam startWithKey]` is called, either with or without your RN bridge, the bug is introduced.  I believe I've completely isolated it to a RN+UXCam issue.

[2017-08-08 14:46] richardgroves commented on #36
Thanks for the further clarification @StevePotter, and the other branches. We'll take a look internally and try and work out what is happening.

[2017-08-08 14:49] StevePotter commented on #36
Great, let me know if I can help.  I've been deep in the guts of RN and
could be a useful resource.  Good luck, looking forward to hearing back.
Is there an official UXCam support system we should move to?

On Tue, Aug 8, 2017 at 10:46 AM, Richard Groves <notifications@github.com>
wrote:

--
Stephen Potter,
Developer @ Vydia.com

[2017-08-08 14:53] richardgroves commented on #36
The support system can be accessed through the little widget at the bottom right of the screen on the dashboard. But raising an issue here will get attention too.

[2017-08-08 19:59] negativetwelve commented on #36
thanks @richardgroves!

If you all come to a conclusion and require an update / bump of the SDK, let me know and I'll update the react-native-ux-cam package to point to the updated version

[2017-08-09 13:26] TSMMark commented on #36
UX cam is supposed to be drop-in without problems, and this literally prevents the user from interacting with the application properly. Please fix this as soon as possible as it is ruining the experience of our users.

[2017-08-09 13:31] richardgroves commented on #36
Hi @TSMMark ,

Are you on the same project as @StevePotter or do you have another example of this problem?

We are looking into what is causing it and will release a fix as soon as we have one.

Richard

[2017-08-09 14:59] TSMMark commented on #36
Hi @richardgroves, same project. Thanks, that's good. I am eager for our app to behave acceptably once again.

[2017-08-09 15:20] richardgroves commented on #36
@TSMMark - Ok, I wondered if this was wide spread and you had another example.

@StevePotter - after some build issues I've got your https://github.com/Vydia/UXCamScrollViewBug repo running and have re-created the problem.

I'm just trying to understand the view hierarchy in the example:

There is a full screen scrollview, with contents exactly matching size so when it is dragged it bounces back t

[2017-08-09 15:23] richardgroves commented on #36
@TSMMark If you have released this to users and it is causing problems (as it obviously would) can you try turning off recordings at the UXCam dashboard and see if that stops the problem? In the example project I'm running that has stopped it losing the first tap after a bounce scroll.

[2017-08-09 16:10] StevePotter commented on #36
@richardgroves turning off recording did indeed fix it.  So we have turned off UXCam recording for now while we address this issue.  To answer your questions:

I'm not sure exactly how the touch event propagation works.  So I can't answer whether Item 1 receives the touch or Item 2, or whatever.

I think the best description of the bug is:
"After a ScrollView has finished animating due to a scroll

[2017-08-09 21:58] willlaserlike opened #38 "No Date Received"
Hello,

I followed the instructions and add UXCam.startWithKey('my-key') to index.app.js. The app runs successfully on both android and ios devices.  But I am still stuck on the integration page since it say no data received.

How can I debug this issue?

[2017-08-09 22:09] negativetwelve commented on #38
Hi @willlaserlike thanks for writing in. Are you saying there's a problem with UXCam itself? It's probably best to contact them directly via the support widget in the bottom right corner of the screen. This package is only concerned with the react-native integration with UXCam, not UXCam itself. Hope they can help you with your issue!

[2017-08-09 23:59] willlaserlike commented on #38
I see the recordings after 1 hour. So there's no issue now. Thanks for the great library!

[2017-08-09 23:59] #38 closed

[2017-08-10 08:30] richardgroves commented on #38
Hi @willlaserlike - it should appear much sooner than that (within a couple of minutes is normal - although a long (>10 minutes say) session could take a little longer to process. Let us know if it continues to take a long time for sessions to show up for you.

[2017-08-12 23:22] negativetwelve opened #39 "[iOS / Android] Add Example application to show installing and running the package"

[2017-08-12 23:22] negativetwelve opened #40 "[iOS / Android] Build the example app on Travis CI"

[2017-08-13 06:29] #39 closed

[2017-08-13 06:29] #40 closed

[2017-08-15 16:02] StevePotter commented on #36
@richardgroves I've sent several messages out to Kishan from UXCam on the chat window on uxcam.com.  But nothing has come back.  Can you put me in touch with someone over there?  My email is steve.potter@vydia.com

[2017-08-15 16:06] richardgroves commented on #36
I've passed on your message - Kishan is in a different time zone right now so wont see my message for a few hours.

[2017-08-17 08:39] richardgroves commented on #36
An update on progress with this issue:

Through instrumenting the react-native code with some logging statements I can see that when UXCam is watching the touch events the scrolling of the view ends with a 'touchCancelled' event rather than 'touchEnded'.

Two questions:
1) Why does this behaviour change when UXCam is watching touch events?
2) Why does the change in scrolling event cause the next t

[2017-08-17 21:53] StevePotter commented on #36
@richardgroves I've been in touch with Kishan.  Were those questions directed toward me?  If so, sorry but I have no idea about either of those two.

[2017-08-18 09:16] richardgroves commented on #36
Sorry - those questions were rhetorical: basically what I need to answer to solve this problem. So far I've just been able to identify a difference that appears to be triggered by the UXCam recording process.

[2017-08-18 15:53] richardgroves commented on #36
So I have a solution:

Find the react-native source file: RCTTouchHandler.m
(path: $/node_modules/react-native/React/Base/RCTTouchHandler.m)

In the last method in that file edit it to be 'return NO'

so the method becomes:

[code]

Explanation:

This stops the react-native touch handler from deciding that it will reject gesture recognisers for it's own views when some other part of the code is al

[2017-08-22 04:34] negativetwelve commented on #24
not necessary right now

[2017-08-22 04:34] #24 closed

[2017-08-25 14:00] richardgroves commented on #36
Further investigation:

Remove UXCam from the example project - just comment out the UXCam.startWithKey line in index.ios.js

Run the project

Drag (and hold) the view down and induce a 'cancelled touch' event - slightly tricky but the home button (cmd+shift+H) does it, as do several other things in real use. Then return to the app and the first touch is not recognised as in the bug report.

Concl

[2017-12-21 21:51] wookelvin opened #44 "Doesn't appear to capture running video correctly"
Doesn't appear to capture running video correctly. It instead just freezes to pevious screen and updating to a blank screen near the end of captures.

[2017-12-24 09:34] negativetwelve commented on #44
Hi @wookelvin, are these issues with UX Cam itself? or specifically with this module?

Have you been able to run the native libraries without this react-native specific layer?

[2018-01-10 18:52] wookelvin commented on #44
I have not been able to isolate the issues between the native library and the react-native layer.

[2018-01-10 18:55] wookelvin opened #45 "Virtual Memory Hogger on Recording over Video Components."
There's a big issue with virtual memory usage when a video is playing.
As a video is being recorded on a big screen, the memory usage shoots through the roof exceeding beyond 1400 MB if a full screen video is playing beyond 5 minutes.

The app will close unexpectingly and the logs report that the app has
'exceeded mem limit: ActiveHard 1400 MB'.

[2018-01-10 19:00] wookelvin opened #46 "interferes with some gestures and scrollViews on iOS"
On iOS, when implementing a scrollview, the scrollview actually stutters when UXCam is recording.
It's very obvious and reduces the overall performance of an app.

When implemented with DrawerView from react-native-navigation, the drawer itself also no longer works correctly. (likely due to same stutter issue).

I'm no longer implementing this due to the several performance issues this is creating

[2018-01-10 20:44] negativetwelve commented on #44
Thanks for the information, this sounds like a UXCam issue with the native library rather than the small wrapper that this module provides around the native portion. I don't work for UXCam, I just created this module because it was missing from the community and I wanted the ability to use UXCam on my react-native project. Your best bet is to contact support for UXCam, sorry :(

@richardgroves mig

[2018-01-10 20:45] negativetwelve commented on #46
There's a pretty long discussion here: https://github.com/negativetwelve/react-native-ux-cam/issues/36

This is also an issue with the native library and not the react-native wrapper. Your best bet would be to contact support and talk to the engineering team at UXCam. Sorry I couldn't help more!

[2018-01-10 20:46] negativetwelve commented on #45
cc @richardgroves - a UXCam employee that can hopefully help you with this issue. Your best bet would be to contact support. This looks like a native issue (this package is developed by me as a 3rd party and it's also just a small bridge between react-native and the actual native library)

[2018-01-10 20:47] negativetwelve commented on #44
Going to close this as it's an issue with the native library and not the react-native wrapper. You can definitely continue discussion via this issue if you'd like!

[2018-01-10 20:47] #44 closed

[2018-01-10 20:47] negativetwelve commented on #46
Going to close this as it's an issue with the native library and not the react-native wrapper. You can definitely continue discussion via this issue if you'd like!

[2018-01-10 20:47] #46 closed

[2018-01-10 20:47] negativetwelve commented on #45
Going to close this as it's an issue with the native library and not the react-native wrapper. You can definitely continue discussion via this issue if you'd like!

[2018-01-10 20:47] #45 closed

[2018-01-11 09:53] richardgroves commented on #46
Hi @wookelvin

We've seen this issue - it's direct in the SDK and not in the react wrapper.
It appears that something changed around iOS11.2 that causes extra time to be taken for the screen capture we do when the view is scrolling. There should be an update SDK (2.5.15) released for iOS today that has a BETA method 'StopRecordingScrollingOnStutterOS' that works around it by stopping screen record

[2018-01-11 09:55] richardgroves commented on #45
@wookelvin Can you open a support issue for this at UXCam.com please so we can work through the problem and find a solution. Please reference this thread and me so it gets immediately to me.

Thanks,
Richard

[2018-02-06 10:42] fliPmitKlammern opened #47 "[Android] No data from Android"
Hello there,

I have integrated react-native-ux-cam as described in the docs and while it works perfectly on iOS, there seems to be a problem with Android: The project is building and running just fine, however there is no data appearing in UXCam. I can call UXCam functions without errors, but calling UXCam.urlForCurrentSession() just gives 'null/s/null'.

I am using React Native 0.51 with React N

[2018-02-06 10:45] negativetwelve commented on #47
cc @aouaki who implemented the android portion

@fliPmitKlammern are you able to collect recordings using the native UXCam library? https://uxcam.com/docs#android

[2018-02-06 11:04] fliPmitKlammern commented on #47
@negativetwelve Thanks for your rapid response! By integrating the native library and calling UXCam.startWithKey() in my MainActivity I am now able to collect recordings. Calling UXCam.urlForCurrentSession() in JavaScript now also works as expected, as well as all the screens tagged in JavaScript. So for now it seems this issue has been solved. Might have been a problem related to how React Native

[2018-02-06 11:04] #47 closed

[2018-02-06 11:13] negativetwelve commented on #47
It could be, but I'm not 100% positive. If you find that there is a fix we can apply to the react-native module, I will gladly accept it. It could indeed be the way that the navigation library is using activities (I handle all routing in plain JS).

[2018-02-11 18:56] Saumyadip-Pramanik commented on #32
Same issue, not getting method for ios or android.

[2018-03-01 19:01] kevinmcalear commented on #46
@negativetwelve it would be amazing if you could update this library to 2.5.15 and add the StopRecordingScrollingOnStutterOS method to this library. Thanks!

[2018-03-01 19:01] kevinmcalear commented on #46
@richardgroves did you ever fix this?

[2018-03-01 19:22] negativetwelve commented on #46
@kevinmcalear I can do that later this week, but if you'd like to take a stab at it, I would appreciate it 😄

[2018-03-02 11:41] richardgroves commented on #46
@kevinmcalear We are still trying to work out what the root problem is - from test code we have it appears to be definitely related to an iOS update. I have a radar open with Apple about it. My current theory is that it is related to the Meltdown/Spectre fixes that went into one of the 11.2.X iOS versions.

The problem is noticeably worse on iPhoneX, but is present on other devices.

If you are up

[2018-03-02 14:36] kevinmcalear commented on #46
@negativetwelve I upgraded to 2.5.16 (as @richardgroves suggested, thanks!) and implemented the `StopRecordingScrollingOnStutterOS` method. This does fix the stuttering of the ScrollView. This, however, does not fix the core issue for me though, which is documented in [this issue](https://github.com/alexbrillant/react-native-deck-swiper/issues/122).

For reference, I just upgraded the CocoaPod to

[2018-03-02 14:40] kevinmcalear commented on #36
@richardgroves for reference, here is another issue that UXCam is causing that I'm sure is related.

https://github.com/alexbrillant/react-native-deck-swiper/issues/122

[2018-03-02 15:44] richardgroves commented on #36
Thanks @kevinmcalear - I'm going to leave a comment in there on a work around I've found, and the reason why I think this is a react-native problem and not UXCam.

[2018-03-02 15:49] kevinmcalear commented on #36
@richardgroves great, thanks!

[2018-03-05 18:25] negativetwelve commented on #46
@kevinmcalear would you be able to submit a PR that adds that method to the JS interface? then in your JS code, you could call:

[code]

[2018-03-23 12:13] tobob opened #48 "[iOS] Can build on new RN"
ReactNative: 0.53.3

[code]

[2018-03-23 17:28] negativetwelve commented on #48
Hi @tobob, would you like to submit a PR to fix this issue? Would gladly appreciate it!

[2018-03-23 19:50] tobob commented on #48
sure, I will try to fix this :)

[2018-03-25 06:09] tobob commented on #48
I think that is related with Pods @negativetwelve

I did `react-native link react-native-ux-cam`, then I changed Podfile and add   `pod "UXCam", "~> 2.5.12"`
however `pod 'react-native-ux-cam', :path => '../node_modules/react-native-ux-cam'` was there also
I after installation react-native-ux-cam appear inside `Developers Pods` and then start madness, because from this location it is not able to R

[2018-03-26 13:57] tobob opened #49 "[Android] urlForCurrentSession return null/s/null"

[2018-03-26 18:36] negativetwelve commented on #48
Interesting, do you want to try updating the version here https://github.com/negativetwelve/react-native-ux-cam/blob/master/react-native-ux-cam.podspec#L17 and then building the pod within your app? That will cause it to use a later version of UXCam

[2018-03-27 15:36] kevinmcalear commented on #46
@negativetwelve just submitted the PR :)

[2018-04-03 12:45] MaheshNandam opened #51 "[iOS] build failed due to 'libRNUXCam.a' and 'UXCam/UXCam.h' file not found"
My Package:

		"react": "16.0.0",
		"react-native": "0.50.4",
		"react-native-ux-cam": "^4.4.0",

<img width="1191" alt="screen shot 2018-04-03 at 6 11 16 pm" src="https://user-images.githubusercontent.com/13198616/38249958-0d6f1f46-376b-11e8-88cc-a1bc0dd63169.png">

<img width="1181" alt="screen shot 2018-04-03 at 6 14 45 pm" src="https://user-images.githubusercontent.com/13198616/38249982-202136

[2018-04-04 09:30] MaheshNandam commented on #48
build failed due to 'UXCam/UXCam.h' file not found,

@negativetwelve, any idea about this?

[2018-04-04 09:34] negativetwelve commented on #51
Hi @MaheshNandam have you installed the `pod` following the instructions in the README? https://github.com/negativetwelve/react-native-ux-cam#ios-with-react-native-and-cocoapods

[2018-04-04 09:34] negativetwelve commented on #48
Hi @MaheshNandam let's continue the conversation in #51

[2018-04-04 12:46] MaheshNandam commented on #51
Hey @negativetwelve,

Yes!, I have done pod installation successfully, but after I got 'Argument list too long: recursive header expansion failed at react-native-ux-cam',

<img width="1212" alt="screen shot 2018-04-04 at 6 10 56 pm" src="https://user-images.githubusercontent.com/13198616/38308113-aca2de4a-3833-11e8-8660-980a4c0e8478.png">

Along with that After installing react-native-ux-cam, I ha

[2018-04-04 17:50] negativetwelve commented on #51
Hmm if you click on RNUXCam.xcodeproj under the Libraries directory. Can you find where the paths are set (it should be under something like Build Settings). Try removing the relative path that is listed there.

Sorry I don't have any screenshots or anything, hope this helps!

[2018-04-05 06:36] MaheshNandam commented on #51
@negativetwelve, Can you tell me what exactly I have to remove from the below-mentioned paths,

<img width="1179" alt="screen shot 2018-04-05 at 12 04 03 pm" src="https://user-images.githubusercontent.com/13198616/38350609-a2b6e250-38c9-11e8-9758-5906c87b37e0.png">

<img width="1185" alt="screen shot 2018-04-05 at 12 04 29 pm" src="https://user-images.githubusercontent.com/13198616/38350602-999c91

[2018-04-05 06:54] negativetwelve commented on #51
from the top screenshot, you can remove the `ios/Pods` and the `clients/ios` paths. the second one should be okay. clean the app and then re-compile everything and let me know if you get any other errors

[2018-04-05 07:37] MaheshNandam commented on #51
After clean, got this issue "argument list too long: recursive header at react-native-camera"

[2018-04-05 07:46] negativetwelve commented on #51
Can you add back the `${SRCROOT}/../../../ios/Pods` path and:

1. make sure the `/../../../` is correctly pointing to your iOS directory
2. If it is, try adding the specific name of the pod, `ios/Pods/UXCam` to the list so that it only looks for that module

[2018-04-05 09:08] MaheshNandam commented on #51
Yes!, along with that I have added '  pod 'React', :path => '../node_modules/react-native'
  pod 'yoga', :path => '../node_modules/react-native/ReactCommon/yoga'' to podFile

nonetheless, after the build, I get the below error,

<img width="1440" alt="screen shot 2018-04-05 at 2 33 32 pm" src="https://user-images.githubusercontent.com/13198616/38356886-b1b568de-38de-11e8-9efb-d47fc3a84898.png">

[2018-04-05 09:18] negativetwelve commented on #51
hmm I'm not sure anymore 😢

This issue seems to be present on other react-native modules, do you want to try things listed in this thread? https://github.com/invertase/react-native-firebase/issues/294

[2018-04-05 09:32] MaheshNandam commented on #51
RCTComponent.h error is solved,

but still i have argument list too long at $(SRCROOT)/../../../ios/Pods/react-native-camera issue!.

[2018-04-05 09:43] negativetwelve commented on #51
can you screenshot your RNUXCam.xcodeproj build settings again? ?just want to double check

[2018-04-05 09:49] MaheshNandam commented on #51
Sure,

 <img width="1177" alt="screen shot 2018-04-05 at 3 16 51 pm" src="https://user-images.githubusercontent.com/13198616/38358996-99689ac0-38e4-11e8-8cb5-cbca7aa6c14f.png">

[2018-04-05 13:15] MaheshNandam commented on #51
@negativetwelve,

Adding pods to the relative paths is working fine, Thanks a lot! 👍

[2018-04-05 23:29] negativetwelve commented on #51
great! glad it finally worked out! Going to close this issue since we solved your issue 😄

[2018-04-05 23:29] #51 closed

[2018-04-06 12:02] MaheshNandam opened #52 "[iOS] Duplicate symbols for architecture arm64"
Issue:

build failed due to the following files!

/Users/...Build/Products/Debug-iphoneos/react-native-ux-cam/libreact-native-ux-cam.a(RNUXCam.o)
/Users/.../Build/Products/Debug-iphoneos/libRNUXCam.a(RNUXCam.o)

And also, do we need to have both pod->react-native-ux-cam and pod->uxcam pod lines at pod file?

@negativetwelve

[2018-04-07 03:15] negativetwelve commented on #52
Hi @MaheshNandam is this after a recent update? You should only need UXCam in your podfile, not react-native-ux-cam (since you're linking using `react-native link`)

[2018-04-07 05:58] MaheshNandam commented on #52
Yeah,

I got fixed the issue by removing the react-native-ux-cam from Pod target files.

Thanks, @negativetwelve.

[2018-04-07 19:33] negativetwelve commented on #52
👍 no problem!

[2018-04-07 19:33] #52 closed

[2018-04-10 05:43] MaheshNandam opened #53 "[Android] Could not find com.uxcam:uxcam:2.5.8."
Hey @negativetwelve,

Failed to resolve ' com.uxcam:uxcam:2.5.8', anyidea?

[2018-04-10 07:12] negativetwelve commented on #53
Did you follow the instructions [here](https://github.com/negativetwelve/react-native-ux-cam#android)?

[2018-04-10 07:42] MaheshNandam commented on #53
Yes!, I Did, but still!!

[2018-04-10 08:03] negativetwelve commented on #53
Can you screenshot your `build.gradle` file?

[2018-04-13 08:56] MaheshNandam commented on #53
Hey @negativetwelve,

Downgrading react-native-camera to 0.12.0, and closing 'Android studio' and opened again, it works for me.

[2018-04-13 16:41] MaheshNandam opened #55 "previousScreen rendering everytime rather than splashScreen in IOS"
react -  16.0.0
react-native - 0.50.4
react-native-ux-cam - 4.4.0

When I'm sending the uxcam key from the router, the last visited page was rendering every time before the splash screen, can you address this issue?

@negativetwelve

[2018-04-16 01:37] negativetwelve commented on #53
sounds good! glad you solved it 👍

[2018-04-16 01:37] #53 closed

[2018-04-16 06:53] MaheshNandam commented on #55
hey @negativetwelve, please address this issue!

[2018-04-16 07:48] negativetwelve commented on #55
Hi @MaheshNandam, this issue is most likely not caused by the react-native-ux-cam module.

It is either caused by UXCam itself, or some conflict with your navigation library. Without an example project to see the issue, I'm afraid I cannot help you figure this one out. It seems very specific to your use case / project.

[2018-04-16 07:48] #55 closed

[2018-05-23 11:01] davidmessem opened #56 "[iOS] pod install error: transitive dependencies that include static binaries"
I am following the instructions to install on iOS, and get to the `pod install` step, but get the following error

`[!] The 'Pods-<project>' target has transitive dependencies that include static binaries: (<path>/ios/Pods/UXCam/UXCam.framework)`

Here is my full Podfile

[code]

[2018-05-23 11:17] richardgroves commented on #56
Hi @davidmessem ,

Could you try adding the line:

```use_frameworks!```

at the top of the podfile and see if that fixes it.

2.5.12 is also a rather old version - 2.5.17 is preferred which the ~ might get but I'm not sure.

[2018-05-23 11:31] davidmessem commented on #56
I have just tried 2.5.17, and still get the error. Here is cocoapods output:

[code]

[2018-05-23 11:52] richardgroves commented on #56
Ah - Ok...

Can you try taking the

```pod "UXCam", "~> 2.5.17"```

out - I think that including React-native-uxcam pod is including UXCam already, and then the direct reference is duplicating the framework.

I'm mobile at the moment, so am not able to test the podfile directly. If this doesn't work I'll stop guessing and wait until I can run it myself.

[2018-05-23 12:26] davidmessem commented on #56
I'm afraid that didn't work

Podfile
[code]

Cocoapods output
[code]

[2018-05-24 10:28] davidmessem commented on #56
As a workaround, I have taken `pod 'react-native-ux-cam', :path => '../node_modules/react-native-ux-cam'` out and left `pod "UXCam", "~> 2.5.17"` in the Podfile, and added react-native-ux-cam manually to the project.

But that does not solve this issue.

[2018-05-24 11:34] richardgroves commented on #56
Hi,

Firstly glad you have found a workaround!

Secondly in a turn around from my first response above can you try **removing** "the use_frameworks!" line from the PodFile - after having a podfile of just react-native-ux-cam on a native iOS project that reproduced your issue taking away the use_frameworks! did allow 'pod install' to complete (and the code builds + runs).

[2018-07-27 15:56] masterT opened #58 "[iOS] 'React/RCTBridgeModule.h' file not found"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

-----------

## Steps

I did the following steps as specified in the `README.md`.

Run the following:

[code]

Then, add the following to your Podfile:

[code]

Then run:

[code]

## Error

When I build I got the error `'React/RCTBridgeModule.h' file not found` in `RNUXCam.h`.

[code]

Here is my Podfile:

[code]

[2018-07-27 17:44] negativetwelve commented on #58
Hi @masterT, thanks for the great issue report. I personally haven't updated our app to the latest react native version so there might be some issues there.

Couple questions / notes:
1. What version of react-native are you using?
2. It looks like in your podfile, there isn't a mention of a Bridge subspec. I believe on older versions of react-native, there was which is what's causing this issue.
3

[2018-07-27 18:11] masterT commented on #58
Thanks for the fast reply!

Haha I totally forget the `react-native` version, here it is `react-native@0.55.4` .

I tried the manual installation and I now have this error.

[code]

[2018-07-27 18:29] negativetwelve commented on #58
oh nice! I was going to say you can also remove these lines https://github.com/negativetwelve/react-native-ux-cam/blob/master/ios/RNUXCam.xcodeproj/project.pbxproj#L213 and https://github.com/negativetwelve/react-native-ux-cam/blob/master/ios/RNUXCam.xcodeproj/project.pbxproj#L234 so that it's not searching unnecessary directories but glad you fixed it!

[2018-09-20 07:42] ACCTFORGH commented on #47
I am having the same issue here. Is it required to call startWithKey from Java code?

[2018-09-20 07:50] dverma4u opened #62 "UXCam.startWithKey is not a function"
getting error UXCam.startWithKey is not function

i have done all steps mentioned in documentation

1) npm i react-native-ux-cam
2) react-native link react-native-ux-cam
3) added pod "UXCam", "~> 2.5.12" in Podfile
4) pod install

[2018-09-20 09:39] #62 closed

[2018-09-20 09:39] fearmear commented on #48
Hey, you're supposed to add Pods directory `$(SRCROOT)/Pods/Headers/Public` to HEADER_SEARCH_PATHS [here](https://github.com/negativetwelve/react-native-ux-cam/blob/master/ios/RNUXCam.xcodeproj/project.pbxproj#L216) and [here](https://github.com/negativetwelve/react-native-ux-cam/blob/aa9f9aa9b66b7c4eb11753d1c07f34322a0ea430/ios/RNUXCam.xcodeproj/project.pbxproj#L237) to make it compatible with Po

[2018-09-27 15:00] malcolm-s commented on #62
I'm having this issue as well - everything is working fine on Android though?

Output from pods
[code]

[2018-10-09 09:14] malcolm-s commented on #62
Yep still having that issue here on iOS - @dverma4u @negativetwelve any idea on how to fix it?

[2018-10-10 12:39] dverma4u commented on #62
@malcolm-s   @yjose  yes actually the documentation is not updated i think.

to resolve this error we need both manual and automatic installations

firstly install uxcam via cocoapod , and then add RNUXCam.xcodeproj from ./node_modules/react-native-uxcam
also add libRNUXCam.a from products into Build Phases -> Link Binaries With Libraries

[2018-10-16 12:40] ionatower opened #63 "UXCam missing sensitive fields hide"
Hi,

It seems like the react native hide all sensitive fields option is not implemented as a function?

UXCam.occludeAllTextFields(boolean occludeAll);

Found here:
https://help.uxcam.com/hc/en-us/articles/115000967031-Hide-Sensitive-Views

[2018-10-17 06:34] negativetwelve commented on #63
Hi @ionatower feel free to submit a PR to add the missing methods to the SDK and I'll publish a new version.

[2018-10-17 16:45] Nico924 opened #65 "[IOS] Expo detached : Cannot build => #import 'React/RCTBridgeModule.h' file not found"
My project is a detached expo project with the latest expo & react native version and this react-native-ux-cam plugin linked to it.

Here is my config
Computer:
- Mac OS 10.13.6
- node v8.11.2
- npm 6.4.1
- Xcode 10.0

npm packages:
"expo": "^30.0.0",
"expokit": "^1.7.1",
"react": "16.3.1",
"react-native": "https://github.com/expo/react-native/archive/sdk-30.0.0.tar.gz",
[...]
"react-native-ux-cam

[2018-10-17 18:15] negativetwelve commented on #65
Hi @Nico924, thanks for the detailed report. Unfortunately, this module hasn't been updated for recent versions of react-native so that might be causing some issues here.

Which version of Expo and React Native are you using?

[2018-10-17 20:40] Nico924 commented on #65
Hello @negativetwelve,

I am using **expo 30.0.0** and the associated react-native version (https://github.com/expo/react-native/archive/sdk-30.0.0.tar.gz)  which correspond to **react-native 0.55.4**

However, I retried renaming <React/RCTBridgeModule.h> to "RCTBridgeModule.h" and then another import having the same structure (<React/... .h> to "... .h") (I cannot remember the name of the second

[2018-10-17 22:13] negativetwelve commented on #65
No problem @Nico924, thanks for posting your solution. My best bet is that some of the imports have changed since this module was last updated.

I actually don't work on UXCam, I'm just the creator of the react-native module for it 😄 For UXCam general questions, you should reach out to their team.

cc @richardgroves

[2018-10-17 22:14] #65 closed

[2018-10-18 08:33] richardgroves commented on #65
Hi @Nico924 - can you raise a support issue at UXCam.com with the slowdown issue you are seeing - reference my name and this thread so it gets routed properly.

[2018-10-29 14:48] indapublic opened #66 "No method for setting user information?"
[Documentation](https://help.uxcam.com/hc/en-us/articles/115000968992-Set-User-Information) said, SDK containing `setUserProperty` method. But I can't find anything similar in `UXCam.js`.

[2018-10-29 17:12] negativetwelve commented on #66
Hi @indapublic, this is a community run module and would gladly accept a PR to add this missing method. Would you be able to submit one and I can get it reviewed and merged?

[2018-11-03 15:52] Titozzz opened #67 "Update to version 3.0"
Hello, UXCam just released a new major version (3.0) with a new dashboard. Are you planning to update or do I have to submit a PR / build my own wrapper 😄 ?

[2018-11-05 16:30] wsakka commented on #36
This is definitely a UXCam native issue, especially with iPhone X and later devices.

[2018-11-15 07:47] indapublic commented on #66
Hi @richardgroves, thanks for you answer!
I see new dashboard on UXCam with new (?) app key. Help center noticed that i should use this package for React Native integration. Bu, be honest, I some confused with versions.
Is it possible to record sessions to new dashboard using this npm package?

I tried to use new app key, but it not works. So I inspected web traffic and found, that https://api.uxc

[2018-11-15 08:06] indapublic commented on #67
@Titozzz It would be wonderful

[2018-11-16 10:38] richardgroves commented on #67
Hi - we are working on an updated wrapper to more directly integrate with v3 SDK - you can see a preview here - https://github.com/uxcam/react-native-ux-cam/tree/v3.0.0 - and over the next couple of weeks we hope to work with @negativetwelve and the community on this project to test and integrate it here.

[2018-11-20 12:35] richardgroves commented on #66
Hi,

That indicates the UXCam SDK being used inside the react-wrapper is version
2.X - (which uses /v3/verifyapp URL - don't ask...), the newer v3.0.X SDKs
use a URL with v4 in it.

Take a look at our WIP fork at https://github.com/uxcam/react-native-ux-cam
where we are trying a different approach to distributing the UXCam SDK
inside the react-wrapper. We home to merge this back into Mark's main r

[2018-11-20 12:52] indapublic commented on #66
Glad to hear it @richardgroves !

[2018-11-22 14:32] ehsan-saddique commented on #36
Is this issue been fixed?
My app's scroll is very jittery and almost freezes on iPhone X and later devices, although it works fine on the older devices (e.g iPhone 8, 7, 6s).

After some profiling I found out that main thread is using 90% of the CPU, and these two methods have the heaviest stack trace.
`[UXViewVideoHandler captureScreenImageToVideo]`
`[UXViewVideoHandler screenImageNew]`

I'm usin

[2018-12-07 11:45] richardgroves commented on #67
Hi @Titozzz - the UXCam v3.0.X SDK wrapper has now been put in this repo and published to npm.

[2018-12-07 11:45] #67 closed

[2018-12-07 11:46] richardgroves commented on #66
@indapublic The updated 3.0.X SDK is now on this repo and published to npm.

[2018-12-07 11:46] #66 closed

[2018-12-07 11:48] richardgroves commented on #63
hi @ionatower The methods for hiding specific views are now in the newly released wrapper for UXCam SDK 3.0.X which is in this repo master branch now and published on npm as version 5.0.0

[2018-12-07 11:48] #63 closed

[2018-12-07 11:49] richardgroves commented on #56
Closing this as the latest update includes the UXCam SDK directly without using cocoapods.

[2018-12-07 11:49] #56 closed

[2018-12-07 11:49] richardgroves commented on #21
This method is in the latest release of the wrapper.

[2018-12-07 11:49] #21 closed

[2018-12-07 13:20] indapublic commented on #66
You are awesome @richardgroves

[2018-12-09 15:03] indapublic commented on #66
@richardgroves Just upgraded package to 4.5.0 version. But still cannot find `setUserProperty` method

[2018-12-09 15:17] indapublic commented on #66
Also cannot understand lib is working or not :)
I see many requests to https://dashboardapi.uxcam.com/app/***/integration and response
[code]
but nothing else

[2018-12-09 16:00] richardgroves commented on #66
Hi - needs to be the 5.0.0 version for the latest SDK changes.

Sent from my iPhone

[2018-12-10 03:11] indapublic commented on #66
@richardgroves Thanks! Works like a charm

[2019-01-03 07:15] anniewey opened #73 "duplicate symbols for architecture x86_64"
I've installed and linked latest version but it's still not showing up on the new dashboard. Previously, I was able to get it work on older SDK but couldn't get it work on this new version. Had tried uninstall and reinstall (https://help.uxcam.com/hc/en-us/articles/115000966691-React-Native) but still the same.

"react-native-ux-cam": "^5.0.0",
"react-native": "0.57.7",

Installation:
1. npm insta

[2019-01-17 13:09] matyj opened #74 "occludeSensitiveView crashes"
Hey,
The occludeSentitiveView method crashes:
![image](https://user-images.githubusercontent.com/17065992/51320767-341d5c00-1a61-11e9-9a73-96ff66300e18.png)
It happens on both platforms, with either custom and "native" view.
The code:
`<Text
            ref={(label) => {
              UXCam.occludeSensitiveView(label);
            }}
            style={styles.label}

            {strings(translati

[2019-01-18 07:20] matyj commented on #74
No I don't. When importing that way, name doesn't matter, these are the basics. Besides, the rest of the methods works.

[2019-01-18 08:50] theanilpaudel commented on #74
@matyj sorry my bad, so just to be clear, you are using it like this `import UXCam from 'react-native-ux-cam';` and then `<Text ref={(label) => { UXCam.occludeSensitiveView(label); }} style={styles.label} > {strings(translations.login.title)} </Text>` ?

[2019-01-18 08:51] matyj commented on #74
@theanilpaudel yes

[2019-01-29 07:34] cj768025549 opened #75 "I can't install react-native-ux-cam by cocoaPods"
![default](https://user-images.githubusercontent.com/3918091/51891588-8bfd8080-23da-11e9-9261-4bdf1f39c240.png)
I don't want to install react-native-ux-cam by draging RNUxcam.xcodeproj file inside node_module/react-native-ux-cam/ios to your project on Libraries group on Xcode. That will cause something wrong on CircleCI.
So I rather install react-native-ux-cam by CocoaPods, but RNUxcam.podspec is

[2019-02-05 10:52] matyj commented on #74
I tried to do this without any strings() or nothing. It didn't work either.

[2019-02-07 15:09] ibtesamlatif2997 commented on #74
Not working for me too. Getting the same error

@theanilpaudel can you drop your code snippet to understand better

[2019-02-19 19:06] crobinson42 opened #77 "Android gradle update"
[code]

![screenshot 2019-02-19 11 05 55](https://user-images.githubusercontent.com/5973579/53040489-588c9f80-3436-11e9-92f9-2d7e0104bc4c.png)

[2019-02-21 18:38] codypearce commented on #74
I do not get the error above, but occludeSentitiveView is simply not hiding any views

[code]

Everything else seems to be working.

[2019-02-22 14:41] Damnum commented on #47
Same issue here. In Java code it works, with react-native-ux-com, data are not sent.

In iOS it works as expected.

[2019-02-25 20:18] crobinson42 opened #78 "React-Native message bridge error throw in Java runtime"
I installed and configured uxcam to work. I tested it for the last 2 weeks fine... now, i'm getting this error when I open my app:

Let me know how I can help debug.

[code]

[2019-02-25 20:27] crobinson42 commented on #78
I found the root cause, `RNUxcam.setUserProperty('siteNumber', 15)` where the arguments aren't coerced.

[2019-04-11 03:14] nikhiysham commented on #75
It look's like the podspec has an error.  s.homepage was empty and s.source was point to the wrong url.

Change RNUxcam.podspec file in ios folder as below:

[code]

and then in your project Podfile :

`pod 'RNUxcam', path: "../node_modules/react-native-ux-cam", :podspec => "../node_modules/react-native-ux-cam/ios/RNUxcam.podspec"`

[2019-05-01 09:44] VishwajeetDagar commented on #55
I am also facing the same issue even with the react native sample project. I just started using react-native-ux-cam with the sample project and encountered this issue. Using react-native version 0.59.2

[2019-05-20 22:46] crobinson42 commented on #77
@negativetwelve are you up for this fix? It's a blocker for anyone wanting to use the latest version or react-native.

[2019-05-21 09:03] uxcam-com commented on #77
@crobinson42 Thanks for the suggestion, we will quickly make the change and push it to the repo.

[2019-05-21 12:05] richardgroves commented on #77
Hi @crobinson42 - the fix for this has been merged to master now. Can you let us know if it fixes your problem?

Thanks,
Richard

[2019-05-21 18:58] crobinson42 commented on #77
Thanks - that appears to do the trick.

Until this is released, the workaround is to add this to your project `../android/build.gradle`

[code]

[2019-05-21 18:58] #77 closed

[2019-06-11 12:41] cereme opened #82 "function logEvent, logEventWithProperties not working"
There is UXCam's official document of function logEvent, logEventWithProperties :
https://help.uxcam.com/hc/en-us/articles/115000969072-Log-Events-and-Properties
![image](https://user-images.githubusercontent.com/19284878/59272531-2f1bac00-8c91-11e9-9b20-84176718bc8b.png)

so I applied :
(though the document says "UXCam.logEvent~", I think RNUxcam is right: Using UXCam makes "undefined: UXCam" err

[2019-06-11 13:19] richardgroves commented on #82
Hi,

Sorry about the problems you are encountering.

Could you try just using logEvent with two parameters:

[code]

so

[code]

as I think we've replaced the two methods (with and without properties) with one that can handle both cases. I'll get the documentation looked at if this works ok for you.

Richard

[2019-06-12 03:03] cereme commented on #82
It works! Thanks.

[2019-06-14 22:50] matthewng opened #83 "occludeAllTextView vs. occludeAllTextFields"
In react-native, `static occludeAllTextView()` calls `UXCamBridge.occludeAllTextFields()`.

On iOS, the method is `occludeAllTextFields` with a boolean parameter.
On Android, the method is `occludeAllTextView` with no parameters.

[2019-06-21 11:14] #82 closed

[2019-07-09 10:03] anniewey commented on #75
Is there any other workaround rather than changing the files manually in `node_modules`? The error will still occur when we run it remotely using CI

[2019-07-09 10:37] nikhiysham commented on #75
@anniewey you can fork the github repo and edit it as you like.

[2019-07-17 12:05] Zbish opened #86 "hi"

[2019-07-17 12:08] Zbish opened #87 "run on ios react-native 0.60 build failed with error"
[code]

updated the podspec like this PR
ttps://github.com/negativetwelve/react-native-ux-cam/pull/85
build still failed

[2019-07-17 12:21] Zbish commented on #87
"react": "16.8.3",
"react-native": "0.60.3",
"react-native-ux-cam": "^5.1.2",

[2019-07-18 11:37] #86 closed

[2019-07-19 14:11] richardgroves commented on #87
Hi - support for react 0.60 is something we are looking to add in a future release.

There appear to be some non-trivial changes that need to be made to the package, and we need to consider the impact on versions <0.60 as well.

[2019-07-22 09:09] balramkhichar commented on #87
@richardgroves Same issue with "react-native": "0.57.1"

[2019-07-22 09:57] richardgroves commented on #87
Hi - I've just pushed a change to the RNUxcam.podspec file that includes a dependency on the UXCam CocoaPod - you can edit your local version of the file to add the change, and run `pod update` in the ios folder of your app.

Then `react-native run-ios` _should_ find the proper library and link your app.

The problem appears to be in the RNUxcam.podspec not also including the library file in it di

[2019-07-22 09:57] richardgroves commented on #87
@balramkhichar I'm not sure if the change above will fix 0.57.1

[2019-07-23 03:51] vinco-mobile opened #90 "Fail to import in typescript project"
Hi,
I'm need import your library from typescript ? I try append @types definition but not found

| => npm install @types/react-native-ux-cam
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@types%2freact-native-ux-cam - Not found
npm ERR! 404

How I can import your library in typescript ?

Best regards

[2019-07-30 16:57] mtford90 opened #91 "Duplicate symbols after using `react-native link` on 0.60.4"
[code]

[2019-07-30 17:00] mtford90 commented on #91
I followed the instructions from this comment for 0.60: https://github.com/negativetwelve/react-native-ux-cam/issues/87#issuecomment-513725643

[2019-07-30 17:18] richardgroves commented on #87
Hi Michael (@mtford90)

Sorry about that - we had a lot of problems being able to integrate the MiniZip library into a binary - this is one we missed.

I've put a patched binary into https://github.com/negativetwelve/react-native-ux-cam/tree/richard-WIP and we'll do a proper update and release of the package in the next couple of days.

In the meantime if you get the UXCam.a file that has changed

[2019-07-30 17:19] richardgroves commented on #91
Hi Michael (@mtford90)

Sorry about that - we had a lot of problems being able to integrate the MiniZip library into a binary - this is one we missed.

I've put a patched binary into https://github.com/negativetwelve/react-native-ux-cam/tree/richard-WIP and we'll do a proper update and release of the package in the next couple of days.

In the meantime if you get the UXCam.a file that has changed

[2019-08-02 10:31] mtford90 commented on #91
Hi @richardgroves - thanks for the quick response.

Unfortunately i'm still experiencing the same issue after applying your patch.

Theses are the steps I took:
- react-native unlink react-native-uxcam
- npm uninstall react-native-uxcam
- _deleted the left over entries from Podfile_
- pod update && pod install
- npm install react-native-uxcam
- _copied UXCam.a_ file
- react-native link react-nativ

[2019-08-02 10:33] mtford90 commented on #91
FYI I'm on mac osx 10.14.6, react native 0.60.4, Xcode 10.3, iOS 12.4

[2019-08-02 13:28] richardgroves commented on #91
I think the final 'pod install' will overwrite the updated UXCam.a - we've now published the updated UXCam 3.1.4 package on CocoaPods but the podspec in the published react-native package currently specifies version 3.1.3.

We hope to publish the updated react-native wrapper early next week, but you could edit the local copy of the podspec and do a pod update which should pull down the latest UXCa

[2019-08-03 11:44] mtford90 commented on #91
Hey @richardgroves ,

I followed your advice and switched the podspec to 3.1.4.

Things are slightly better - there are now 50 duplicate symbols instead of 87. Here's the error:

[code]

[2019-08-05 11:51] richardgroves commented on #91
Hi @mtford90

Is your code directly using the SSZIPArchive library? Or is it getting used in a 3rd party utility? I'm trying to work out why I can't trigger the same problem you are seeing.

Meantime I'll get working on removing those symbols as well.

Richard

[2019-08-05 12:38] mtford90 commented on #91
@richardgroves I believe it may be used by `react-native-code-push`. I'm assuming that these libraries should be set up in such a way that they share those dependencies? I'm not too familiar with iOS library development, unfortunately - how is this sort of thing usually setup?

[2019-08-05 13:13] richardgroves commented on #91
Hi - thanks, I'll try and get something that uses that to test it out. It is really hard to get the libraries to share one copy of the code - that leads to a massive dependency problem where one thing needs version X of the library and the other needs version Y. And there is no way to wrap a library in a framework without exposing the symbols - so we have to go through and rename everything, which

[2019-08-07 10:31] richardgroves commented on #91
Hi @mtford90 - There is an update published as version 5.1.6 of the wrapper that should remove the rest of these duplicate symbols. Thanks for your patience.

[2019-08-21 17:15] samernady commented on #75
any update on this I am getting
[!] No podspec found for `react-native-ux-cam` in `../node_modules/react-native-ux-cam`

[2019-09-02 15:26] richardgroves commented on #91
@mtford90 did the 5.1.6 version fix this for you?

[2019-09-17 21:50] gregkerzhner opened #96 "Screen recordings not showing any text or images"
This is an example of a recording generated by react-native-ux-cam.  There are no text and no images, so its not very useful.   Are there known workarounds for this bug?
![wtf](https://user-images.githubusercontent.com/2031812/65082278-610c7080-d95a-11e9-9e9c-48292866543e.gif)

[2019-09-17 22:16] gregkerzhner commented on #96
The screen recordings are working on Android though - so I know its not a necessarily a setup issue on my part.

[2019-09-19 14:11] antpuleo2586 opened #98 "Android tagScreenName not working"
Hi,

I've implemented this library but for some reason, on Android only, the correct screen names aren't appearing in the recordings. I always get `MainActivity` and if I `setAutomaticScreenNameTagging(false)`, I just get `unknown` as the screen name.

This works on iOS.

React native v0.60.4.
React navigation v3.11.1

Any help would be appreciated, thanks!

[2019-09-19 15:35] theanilpaudel commented on #98
Hi @antpuleo2586 ,
Can you update the library to latest version i.e 5.1.9 and try again.

[2019-09-19 19:05] antpuleo2586 commented on #98
Hi @theanilpaudel

I've updated but I'm actually now getting dependency issues on iOS.

[code]

Nevertheless, on Android I still have the same problem, however, it's only the initial call which isn't working.

My code is:

[code]

Subsequent calls to `tagScreenName` work, but this initial one doesn't.

If I add a `setTimeout`, and give it 5 seconds, it works though, but this is far from ideal.

i.

[2019-09-20 05:08] theanilpaudel commented on #98
@antpuleo2586
Can you try updating the iOS version, UXCam support `ios > 10`

On Android can you try this

[code]

[2019-09-20 08:38] richardgroves commented on #98
A new version of the package (5.1.10) has been released which fixes the mismatch in iOS version requirement between the RNUXCam podspec file and the UXCam iOS SDK. iOS10 is the minimum version supported.

[2019-09-20 09:33] #98 closed

[2019-09-20 09:37] antpuleo2586 commented on #96
I'm also experiencing this, no assets showing up. On latest version 5.1.10 and React Native version 0.60.4

[2019-09-24 15:43] richardgroves commented on #75
@madandrija Thanks for you input. What I'm not understanding is how to get react-native > 0.60 to automagically add the `pod 'RNUXCam' ...` line to the PodFile - it seems to still need the `react-native link react-native-ux-cam` to add that in, and then a `cd ios && pod update && cd ..` to get it to actually install the UXCam SDK framework.

From the comments omitted during the `react-native link

[2019-09-24 17:21] madandrija commented on #75
Your issue seems to be with understanding how RN >= 0.60 linking works. In short, just `yarn add ...` or `npm install ...` is not enough AND the "automatic" in "automatic linking in RN > 0.60" refers to you not needing to add further changes in your `MainApplication.java` or `AppDelegate.m`, and most of the time I still do need to run the link command.

In any case,  [install instructions for ux-c

[2019-09-25 11:17] richardgroves commented on #75
I still think that somehow it can be made that the `yarn add ...` is enough - but the 'docs' at https://github.com/react-native-community/cli/blob/master/docs/autolinking.md don't give me a clear example of how to change the UXCam repo to support it automatically adding our Pod line into the project pod.

I know - I wrote those - but I want to make them shorter and remove the extra steps that the

[2019-09-25 12:51] madandrija commented on #75
Sorry, didn't notice while writing my response.

Now that I understand what you are actually asking 😄I can tell you that I also do not fully understand the "how", but what I did understand is if you support `autolinking`, then there won't be an entry in the `Podfile`, and looking at what we are using, [Sentry](https://github.com/getsentry/sentry-react-native) - perhaps you can check their code/con

[2019-10-01 21:35] igor-lemon opened #100 "The library doesn't work."
The library doesn't work.
I made all steps from the documentation but I don't see any data.

[code]

Stack:
iPhone 7Plus (iOS 13.1.1)
RN: 0.59 (Expo)

[2019-10-01 22:06] #100 closed

[2019-10-01 23:24] igor-lemon commented on #96
I have the same issue. But I don't know is it ok or not :D

[2019-10-02 00:17] jmderueda commented on #96
Same here, any workarounds on this?

[2019-10-03 06:42] Subway19 commented on #32
Getting this on iOS . any updates ?

[2019-10-03 19:23] madandrija commented on #75
@richardgroves - [found it](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md#what-do-i-need-to-have-in-my-package-to-make-it-work)

[2019-10-04 15:01] antpuleo2586 commented on #96
After speaking to the guys at UXCam, it seems this is disabled by default on iOS due to privacy concerns. You supposedly need to sign an agreement stating that you're not sending any sensitive data, before UXCam will enable this.
In other words, use calls such as `RNUxcam.occludeSensitiveView(view)` to hide certain elements that will contain sensitive information.

Maybe someone can confirm this t

[2019-10-05 18:09] attitude commented on #75
I had a bit trouble understanding the problem, so I'm leaving here my note for the others.

This repository has last tag for version [5.1.9](https://github.com/negativetwelve/react-native-ux-cam/blob/5.1.9/uxcam-react-wrapper/RNUxcam.podspec). Trying to install version above that fails just due to Pod trying to checkout non-existing branch. I had to run `pod spec lint ./node_modules/react-native-u

[2019-10-07 09:31] richardgroves commented on #75
@attitude Sorry about the missing tags. I didn't realise that they were relied on during the install process. Nothing in the `npm publish` process indicates an issue.

I've added the appropriate tags now and will update our release process so they aren't missed in the future.

[2019-10-07 09:40] attitude commented on #75
@richardgroves 🙏 thanks for adding the 10 and 11 patch version tags. (Will edit my comment above to reflect changes.)

Also is wonder if there a reason not to add the missing 8 patch version tag too?

[2019-10-07 09:51] richardgroves commented on #75
I have to dig back and find which commit was that version? ;-) But here it is - https://github.com/negativetwelve/react-native-ux-cam/tree/5.1.8

I'm still seeing problems with the `pod spec lint` though:

[code]
Any ideas?

[2019-10-07 10:53] attitude commented on #75
✅  I managed to upgrade from 5.1.7 to 5.1.8 with no issues.

⚠️  Upgrading to 5.1.9 failed first due *[!] CocoaPods could not find compatible versions for pod "UXCam"*. Updating dependency from iOS 9.0 to 10.0 and running `pod install --repo-update` && `pod update UXCam` was required to run to fix the issue.

✅  Upgrading to 5.1.10 works as expected.
✅  Upgrading to 5.1.10 works as expected.

Base

[2019-10-07 11:07] richardgroves commented on #75
Thanks for the update @attitude

It's all well and good for CocoaPods to want the PodSpec in the root of the repo but that doesn't really work when there are other platforms not using Pods and the example code to sit alongside. I'll try and check with some other modules too see if/how they get around this.

[2019-10-07 11:11] cereme opened #103 "Error while merging dex archives: Program type already present: com.uxcam.internals.aa"
I ran ```react-native run-android``` and met:
[code]

My env
[code]

My root level build.gradle file:
[code]

[2019-10-09 10:04] antpuleo2586 opened #104 "AndroidTest build failure due to Java 8 incompatibility"
I'm having an issue when building an android test app via the Detox testing framework.
It looks like you're using Java 8 features without enabling the desugaring:

[code]

If I patch your build.gradle file with:

[code]
then everything works.

Any chance this could be updated in the repo? I can open a PR if you want?

Cheers

Ant

[2019-10-10 04:38] cereme commented on #103
It was my fault

[2019-10-10 04:38] #103 closed

[2019-10-14 02:52] #73 closed

[2019-10-15 04:14] anniewey commented on #91
Finally, I managed to build on "react-native-ux-cam": "^5.1.6" without linking, ran

1. npm install --save react-native-ux-cam@5.1.6
2. cd ios && pod deintegrate
3. pod install
4. clean project and rebuild

Thank you!

[2019-10-15 19:39] feedcast-me commented on #103
Happened the same thing to me

@cereme  how did you fix it?

[2019-10-16 05:05] cereme commented on #103
@feedcast-me
I got this error not only RNUxcam, but also other packages.
Make sure your build.gradle files are correctly configured.
In my case, I was migrating from 0.59 to 0.60, I missed some lines in app level build.gradle

[2019-10-18 16:21] fang0rnz commented on #96
Same here, any news?

[2019-10-22 08:20] jungRoit opened #105 "Android resource linking failed"
I am having this error when creating an APK on android.

[code]

I am able to fix this problem by changing  the following code in android build.gradle

[code]
i changed "compileSdkVersion", "buildToolsVersion" and "targetSdkVersion" from 26 to 28.
can I send a PR to make these changes?
I always need to make these changes manually while building the APK.

[2019-10-30 12:36] vijay2330 commented on #32
@Subway19  any update regarding this? I am also getting issue in ios

[2019-10-30 12:43] vijay2330 opened #106 "null is not an object (evaluating UXCambridge.startWithKey)"
I am getting null is not an object (evaluating UXCambridge.startWithKey). Android is working perfectly but ios is showing this error. Any solution for this?

![Screenshot 2019-10-30 at 6 11 54 PM](https://user-images.githubusercontent.com/31308647/67859161-e29e1380-fb40-11e9-986c-e99131a38f59.png)

[2019-10-31 05:41] Subway19 commented on #32
Didn't resolve this. We paused on UXCam for now. Will update here if
anything changes

Sumant Bagade

On Wed, Oct 30, 2019, 6:06 PM vijay2330 <notifications@github.com> wrote:

[2019-10-31 11:34] nicoara opened #107 "android not recording - com.uxcam.service.HttpPostService"
After install, I am not able to get UXCam to record on Android.

The project builds fine, the app runs on the mobile phone, but UXCam makes no recording.

There is no message regarding UXCam in the console log in Chrome for Remote Debugging.

I have double checked and I am adding everything from here: https://help.uxcam.com/hc/en-us/articles/115000966691

system details.
 "react": "16.2.0",
"react

[2019-11-13 20:02] saeedtkh commented on #75
I have the same issue on react native 60.5. Any updates?

[2019-11-13 20:50] saeedtkh commented on #75
Well, I could fixed it by upgrading the platform :ios to '10.0' in my pod file.

[2019-11-14 14:42] richardgroves commented on #75
@saeedtkh Ah yes - that would fix it. Our UXCam native SDK podspec says iOS10 now but I think the default React native podspec is iOS9 which means there is likely to be a refusal to integrate our SDK until the base SDK is updated.

Not sure who is still able to test for iOS9 so I'd consider it dangerous to build something new with that low a base level. Our SDK will actually run on iOS9, it just f

[2019-11-14 15:50] madandrija commented on #106
I'm getting a similar result:

![image](https://user-images.githubusercontent.com/44572935/68872670-b072e100-06fe-11ea-8516-b088150bd4c5.png)

[2019-11-25 12:28] Pasukaru commented on #32
Having a similar, but not the same issue.
For me the error is `TypeError: RNUXcam.startWithKey is not a function`. -> RNUxcam is defined, but it is an empty object.
On `"react-native": "0.61.4"` and `"react-native-ux-cam": "^5.1.11"`

[2019-11-25 19:53] rtanizawa-feedcast opened #108 "Crashing when calling startWithKey on iPhone 7"
Hi, I'm having an issue that my app crashes when running UXCam.

I can't reproduce on the simulator, but when I download in my phone it crashes intermittently.
Our index.js just have this (with the proper key):
[code]
To reproduce just open the app, if doesn't crash, kill the app and open again.

And this is the stacktrace:
[code]

[2019-11-25 19:54] feedcast-me commented on #108
Same issue here, this is preventing me from starting using UXCam because it crashes the app

[2019-11-25 19:55] diegogoncalves commented on #108
Same issue here, this is preventing me from using UXCam since it's crashing the app

[2019-11-26 05:44] feedcast-me commented on #106
Any fix here? I can’t use uxcam because of that

[2019-11-26 05:46] rtanizawa commented on #106
I'm having a similar issue. Does anyone has a workaround?

[2019-11-26 10:10] richardgroves commented on #106
Is this with react-native 0.60 or higher?

Due to changes in that version the setup process needs altering (we're in the process of updating our documentation - apologies for the delay but we've not had to split it out by platform and RN version before).

[ The issues are that we need you to manually run the pod install/update command now to load the RNUXCam into the project, and there is a versio

[2019-11-26 10:21] richardgroves commented on #108
Hi,

Sorry about the issues you are having. Could you try using the beta version of the UXCam plugin and see if that fixes the issue (it has an updated native library that should avoid this crash).
[code]
If on react-native version >=0.60 also do:
`cd ios && pod update && cd ..`

[2019-11-26 11:03] madandrija commented on #106
Yes, with the latest RN.

Will try it out, tnx!

[2019-11-26 18:25] bdombro opened #109 "Pod install error"
Version: 5.1.11
React-Native: 0.61.1

[code]

I'm not using UX Cam for IOS and don't understand this error, so I deleted your podspec file using patch-package, and that seems to allow pod install to pass.

[2019-11-27 10:15] lukaskai commented on #109
in podfile set target to 10.0, that helps to overcome this particular issue. However, now I get such error:

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_UXCam", referenced from:
      objc-class-ref in RNUxcam.o
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2019-11-27 10:25] lukaskai commented on #109
I tried react-native-ux-cam@5.1.13-beta.2, but it did not help as well.

[2019-11-28 11:26] richardgroves commented on #109
We've just published 5.1.13 without the beta tag, but other than some version number changes nothing else has changed.

I was able to make a new project and install the UXCam plugin and run it ok on iOS simulator - see attached terminal output (one glitch - my cocoapods repo cache was out of date, but the suggested fix worked).

[Terminal Saved Output.txt](https://github.com/negativetwelve/react-n

[2019-11-28 11:27] richardgroves commented on #108
The final version 5.1.13 has now been published (but is unchanged in terms of code from the last beta).

[2019-11-28 11:29] richardgroves commented on #96
Sorry for the delay - the latest plugin (5.1.13) has just been released as a full version rather than beta. That includes the latest native SDK (3.1.9) that has much improved schematic capture for react-native.

If you have specific view types that are still not being captured, or being badly captured, please open a support issue with our team and we can work to include those as well.

[2019-11-28 11:29] #91 closed

[2019-11-28 11:30] #87 closed

[2019-11-28 11:30] #48 closed

[2019-11-28 11:31] #49 closed

[2019-11-28 13:09] madandrija commented on #75
I solved all UXCam installation problems by:

1. "upgrading the platform :ios to '10.0' in my pod file."
2. Running `cd ios/ && pod repo update && cd ..`

[2019-11-28 13:10] madandrija commented on #106
Tried it out,  had to run `cd ios/ && pod repo update && cd ..` and update iOS platform to 10 and now it's working, thanks!

[2019-11-28 13:16] #75 closed

[2019-11-28 13:18] richardgroves commented on #106
Great! Glad that is working. I'm looking to see if we can drop the iOS version requirement back to 9 for simplicity, but I don't want anyone using the SDK to think it will actually work on iOS 9 so it is tricky. It just logs a message saying 'need iOS 10' and then does nothing more.

[2019-11-28 13:18] #106 closed

[2019-12-04 10:11] matthias-pichler-warrify opened #114 "allowShortBreakForAnotherApp breaks image picker"
if I call `Uxcam.allowShortBreakForAnotherApp(true)`  before opening an image picker ( using [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) ) and calling  `Uxcam.resumeShortBreakForAnotherApp()` in the finally block  the app becomes unresponsive after closing the picker.

Below is the code that reproduces the problem.

[code]

Tested on real Android dev

[2019-12-05 11:14] susanuxcam commented on #114
Hey @warrify! I've just asked our engineering team to check it out. We will come back to you as soon as we have any news!

[2019-12-05 14:17] susanuxcam commented on #114
Hi again @warrify! Does it work without the resumeShortBreakForAnotherApp? That isn’t needed here - you are just launching another component inside the app. ResumeShortBreak is for when you are going out to a different app - i.e. using Facebook app to confirm login - and will be away from your app for a few seconds but don’t want it split into two sessions. Please, let me know if it's clear!

[2019-12-05 14:22] susanuxcam commented on #105
Hey @jungRoit, thanks for letting us know about the issue. I've already sent it to our developers and I will come back to you as soon as I hear back from them.

[2019-12-05 14:24] susanuxcam commented on #104
Hey @antpuleo2586, thanks for letting us know about the issue. I've already sent it to our developers and I will come back to you as soon as I hear back from them.

[2019-12-05 14:26] warrify commented on #114
I tried it without the resume but it still breaks :/

[2019-12-05 14:26] susanuxcam commented on #90
Hey @vinco-mobile, I'm sorry about coming back to you so late. Do you still experience this issue? Do you want us to dig deeper into it?

[2019-12-05 14:27] susanuxcam commented on #83
Hey @matthewng, I'm sorry about coming back to you so late. Do you still experience this issue? Do you want us to dig deeper into it?

[2019-12-06 08:02] susanuxcam commented on #104
hey again @antpuleo2586! I just wanted to let you know that this issue has been resolved with the latest release. Please, make sure to do a version update and verify if it helped. Thanks!

[2019-12-06 08:03] susanuxcam commented on #105
hey again @jungRoit! I just wanted to let you know that this issue has been resolved with the latest release. Please, make sure to do a version update and verify if it helped. Thanks!

[2019-12-07 10:28] lukaskai commented on #109
@richardgroves I managed to make it work, however, I had to add to RNUxcam.podspec a line s.static_framework = true, maybe you could add it to the package? As otherwise pod update does not work.

[2019-12-10 10:29] richardgroves commented on #109
@lukaskai That's interesting - I've not needed that line when testing. It builds for simulator and device ok. What version of XCode are you using?

[2019-12-11 03:03] lukaskai commented on #109
I am using latest version, however, in my podfile I have a line: "use_frameworks!"

[2019-12-20 08:05] lukaskai commented on #109
@richardgroves will you add it? Because now on each npm install we have to go and manually add it.

[2019-12-20 10:00] richardgroves commented on #109
@lukaskai Happy to make a change - but which one?
`s.static_framework = true`

or

`use_frameworks!`

[although I think the last one is for the final app Podfile rather than a podspec?]

[2019-12-20 12:09] lukaskai commented on #109
@richardgroves you are correct. ux cam podspec should have s.static_framework = true added.

[2019-12-24 13:10] richardgroves commented on #109
That change has been made and pushed to master on the repo. A proper release with it in will follow in the new year.

[2020-01-10 09:10] NaeemCheema opened #115 "UXCam.optIntoSchematicRecordings();"
UXCam.optIntoSchematicRecordings();  is not a function

![Simulator Screen Shot - iPhone 11 Pro - 2020-01-10 at 14 09 14](https://user-images.githubusercontent.com/18673991/72140563-d7722a00-33b2-11ea-973d-522a0eaca17e.png)

"react-native-ux-cam": "^5.1.13",

[2020-01-10 09:53] susanuxcam commented on #115
hey @NaeemCheema, can you send us a screenshot of your integration?

[2020-01-10 13:56] susanuxcam commented on #114
Hey @warrify, we've just fixed the issue! You can update your plugin to the 5.1.14 version and let us know if everything works correctly now :)

[2020-01-10 14:13] matyj commented on #109
@richardgroves when will you release the new version? The above fix seems to be crucial..

[2020-01-10 14:16] richardgroves commented on #109
Hi @matyj - version 5.1.14 was released a couple of hours ago. It has the change in it. Please let us know if it fixes problems you are having.

[2020-01-10 14:53] matyj commented on #109
Sorry, I didn't catch it :) It seems like it works. ;)

[2020-01-10 15:26] richardgroves commented on #109
@matyj No worries - not sure there is a reliable notification system for npm releases. Glad it works for you.

@lukaskai Can you check it is working for you too with the new version?

[2020-01-10 17:52] NaeemCheema commented on #115
@susanuxcam
<img width="1440" alt="Screenshot 2020-01-10 at 10 51 52 PM" src="https://user-images.githubusercontent.com/18673991/72174543-cf8aa800-33fb-11ea-8651-6f02fda9943b.png">

[2020-01-10 21:48] bwernsman commented on #74
I was having the same issue as @matyj, the `ref` would be null on the first render and it would crash the application. I then saw [this](https://stackoverflow.com/questions/47584188/cannot-find-ref-on-initial-render) Stack Overflow post and changed the way I was passing the ref and it worked! Hopefully this helps

[code]

[2020-01-13 08:51] susanuxcam commented on #114
@warrify just one more thing:

Here is the working code snippet which might help you. We have tested this with the same library you mentioned.

  pickSingle(cropit, circular=false, mediaType) {
    RNUxcam.allowShortBreakForAnotherApp(true);
    ImagePicker.openPicker({
      width: 500,
      height: 500,
      cropping: cropit,
      cropperCircleOverlay: circular,
      compressImageMaxWidth: 1

[2020-01-13 10:59] susanuxcam commented on #115
thanks @NaeemCheema, I've already sent it to our developers. I'll keep you updated!

[2020-01-22 08:34] matyj opened #117 "UIWebView found by grep in UXCam/UXCam.framework/UXCam"
Hello, as said in the title, I had to search for some usages of UIWebView because of deprecation in Apple Store. It was found in the file mentioned in the title: is it possible, that it's somehow used in there?

[2020-01-22 09:44] susanuxcam commented on #117
Hey @matyj, let me consult it with our engineers and let you know!

[2020-01-22 10:12] matyj commented on #117
@susanuxcam thank you, I'm looking forward. it's crucial for us because you know, you never know what Apple will do in future. ;)

[2020-01-23 14:13] matyj commented on #117
@susanuxcam any updates?

[2020-01-23 14:26] susanuxcam commented on #117
Hey @matyj, our engineer who could work on it is currently on holiday so we should be able to come back to you next week. Apologies for the delay!

[2020-01-30 10:56] richardgroves commented on #117
The next update of the SDK (expected to be 3.1.12) will remove the UIWebView references. Release expected before the middle of February.

[2020-02-17 12:58] susanuxcam commented on #117
Hey @matyj! We've just released the 3.1.12 SDK which removes the UIWebView references. Please, test it out and let us know if it helps!

[2020-02-17 14:31] richardgroves commented on #117
For now you can manually update the Pod to update to 3.1.12 native SDK, we'll make a full release of the react-native wrapper that depends on it shortly.

[2020-02-17 14:34] susanuxcam commented on #115
hey @NaeemCheema, could you try the most recent version 5.1.14 and let us know if it works?

[2020-02-24 18:07] pooriyaTa opened #118 "Crash on android 5.1.1"
when i try to play video in one parts of app it crashes 3 seconds  after playing

java.lang.NullPointerException: Attempt to invoke interface method 'void android.view.Window$Callback.onDetachedFromWindow()' on a null object reference
        at com.uxcam.internals.ag.onDetachedFromWindow(Unknown Source)
        at com.android.internal.policy.impl.PhoneWindow$DecorView.onDetachedFromWindow(PhoneWi

[2020-02-24 18:14] #118 closed

[2020-03-02 05:21] christiandave090697 commented on #32
any fix for this? getting the same issue on android

[2020-03-02 10:48] susanuxcam commented on #32
Hey everyone! Can you try using the SDK version 5.1.14? It should solve the issue!

[2020-03-07 13:22] jPaliwal88 commented on #117
@richardgroves any timeline for this update

[2020-03-09 10:47] richardgroves commented on #117
Hi - there is a new release just out that has the fix - 5.1.15 - see https://github.com/uxcam/react-native-ux-cam

[2020-03-09 10:47] susanuxcam commented on #117
hey @jPaliwal88! If you update your SDK to the most recent version, it won't contain the UIWebView. I'm sorry for the late update on this!

[2020-03-10 07:41] ZeerakHameem32 commented on #117
I upgraded to lastest version i.e 5.1.15 and the issue is fixed. I tried u[dating everything and this updated ended up working for me. More info [here](https://github.com/react-native-community/react-native-webview/issues/819#issuecomment-596946722)

[2020-03-10 10:51] #117 closed

[2020-03-10 10:53] #96 closed

[2020-03-10 10:53] #78 closed

[2020-03-12 20:55] triplumix commented on #107
I have the same issue RN 0.60

[2020-03-18 10:27] susanuxcam commented on #115
hey again @NaeemCheema, have you had a chance to test the most recent SDK version?

[2020-03-23 18:12] safciplak commented on #107
mee to

[2020-03-23 22:24] safciplak commented on #38
can't see any data from android and ios freezing please help

[2020-03-24 09:50] susanuxcam commented on #38
hey @safciplak, we're already talking about this on the chat so please let's continue our discussion there

[2020-03-24 09:53] susanuxcam commented on #107
hey @safciplak, let's continue the discussion about this on the chat

[2020-03-24 23:43] maxocg commented on #74
Same issue here
`
import UXCam from 'react-native-ux-cam';
`

` function hide(ref) {
    UXCam.occludeSensitiveView(ref);
  }`

`
<View ref={hide}>`
       ` <Text style={styles.smallMainTitle}>Hello</Text>`
        ` <Text style={styles.smallMidleTitle}>Hello</Text>`
`</View>`

or

`<View >`
       ` <Text ref={hide} style={styles.smallMainTitle}>Hello</Text>`
`</View>`

results on

![Captura de

[2020-03-25 12:16] susanuxcam commented on #74
hey everyone, thanks for reporting it. We'll be working on replicating this issue. I'll keep you updated!

[2020-03-25 12:23] susanuxcam commented on #74
hey again @maxocg can you tell me if it happens on Android or iOS or both? Also, which SDK version are you using?

[2020-03-26 03:14] bwernsman commented on #74
@maxocg, I had the same issue, make sure that `ref` is not null when you pass it into `UXCam.occludeSensitiveView`, something like this.

[code]

[2020-03-26 08:33] susanuxcam commented on #74
hey everyone, you can try this:
![crashes](https://user-images.githubusercontent.com/58553560/77625953-d2019600-6f44-11ea-98f2-6ba92f51cb08.png)

[2020-03-27 21:06] maxocg commented on #74
tnks!! It worked!!!

[2020-05-05 20:10] The0racle commented on #107
@susanuxcam can you please post any steps to fix this here? I'm having the same issue as I can't get my android app to record anything.

[2020-05-05 20:46] The0racle commented on #47
Am I missing something? I can't make it to work at all. Tried RN installation steps, nothing; tried android native steps (gradle), nothing. Can somebody help?

[2020-06-17 15:16] Gjoshi3107 commented on #74
You could try this:-
[code]

[2020-06-25 20:28] nfranzmeier commented on #107
After seeing error messages in logcat regarding HttpPostService
I found I was missing the HttpPostService from my AndroidManifest.xml file.
Here's a snippet from mine:

 <application android:hardwareAccelerated="true" android:icon="@mipmap/icon" android:label="@string/app_name" android:supportsRtl="true" android:usesCleartextTraffic="true">

        <service android:name="com.uxcam.service.HttpPos

[2020-07-17 18:58] StarryFire commented on #36
After i integrated uxcam into my react native project, any tap that happens immediately after another is ignored. If you press, pause for 1-2s and then press again, then it isn't ignored. There is some sort of lag! Has anyone else been experiencing this issue?

[2020-07-17 19:07] StarryFire opened #121 "UXCAM causes second tap to be ignored that comes right after the first tap on any component like TouchableWithoutFeedback, TouchableOpacity, etc."
We are on `react-native-ux-cam` v5.2.0 and this happens for both Android and iOS.
If you continuously tap a button or anything that is tappable, the `onPress` event doesn't fire at all for every second press, third press, maybe for fourth it will if you give enough delay between the first and fourth.

This only happens when we enable UXCAM, otherwise our app works fine.
Any idea why is this happen

[2021-01-31 13:47] codemeall opened #123 "Symbol(s) not found for architecture x86_64"
getting `
Objc-class-ref in libRNUxcam.a(RNUxcam.o)
Symbol(s) not found for architecture x86_64` with Xcode 12 any idea to resolve this?

[2021-02-23 21:53] jakecronin opened #124 "Swipe gesture breaking when using UXCam.startWithKey()"
### Versions:
    "react-native": "0.63.4",
    "react-native-ux-cam": "^5.3.1",

### Problem
UXCam prematurely cancels touchable interaction.

Watching the API for this touchable component, when I do not have UXCam enabled, onTouchMove is called 20-30 times during my swipe gesture followed by a call to OnTouchEnd.

With UXCam enabled, onTouchMove is called 3-4 times before my swipeable component

[2021-04-15 08:59] #115 closed

[2021-04-15 08:59] #36 closed

[2021-04-15 08:59] #74 closed

[2021-04-15 08:59] #83 closed

[2021-04-15 08:59] #90 closed

[2021-04-15 08:59] #104 closed

[2021-04-15 08:59] #105 closed

[2021-04-15 08:59] #107 closed

[2021-04-15 08:59] #108 closed

[2021-04-15 08:59] #109 closed

[2021-04-15 08:59] #114 closed

[2021-04-15 08:59] #121 closed

[2021-04-15 08:59] #123 closed, assigned to nobody

[2021-04-15 08:59] #124 closed, assigned to nobody

[2021-04-15 09:00] richardgroves commented on #124
Please look at https://github.com/uxcam/react-native-ux-cam where the SDK is now maintained. For this issue there is a new method in the latest SDK that switches off the advanced gesture support in UXCam to allow the uncooperative code in the RN core to still work.

[2021-04-15 09:01] richardgroves commented on #123
Support for this is at https://github.com/uxcam/react-native-ux-cam where the latest version is published.

[2021-04-15 09:01] richardgroves commented on #121
Support for this is at https://github.com/uxcam/react-native-ux-cam where the latest version is published that has a work around for the React Native core problems causing this.

[2021-04-15 10:11] susanuxcam commented on #115
Hey @NaeemCheema, I hope you're doing well! Could you please remove the screenshot with your appkey? We're asking for it because of privacy and safety reasons. Thanks!

[2021-10-16 23:01] junhohong opened #137 "null is not an object (evaluating UXCamBridge.optIntoSchematicRecordings')"
Versions
`"react-native": "https://github.com/expo/react-native/archive/sdk-42.0.0.tar.gz"`
`"react-native-ux-cam": "^5.3.3",`

Code
[code]

Screenshot

![IMG_7259](https://user-images.githubusercontent.com/12927159/137604106-6c4bb70f-4bd9-46a9-b821-7e738a3afdf0.PNG)

[2021-10-26 09:02] yeyintkoko opened #138 "Fatal Exception: java.lang.ArrayIndexOutOfBoundsException length=15; index=15"
It is crashing our app in uxcam.jar file in react-native-ux-cam (v5.3.3). Here is the firebase Crashlytics log:

[code]

May be you are indexing out of the array's length in the lib somewhere?

`ArrayIndexOutOfBoundsException length=15; index=15`

Could you please fix and update the uxcam RN package asap?
Thanks.

[2021-10-26 09:53] yeyintkoko commented on #138
Sorry wrong repo! :)!

[2021-10-26 09:53] #138 closed, assigned to nobody

[2022-02-03 21:38] Cavallando opened #139 "thread_policy_set(1) returned 46"
Hi there,

This library was super easy to setup and use so thank you!

Upon adding this library to our RN App we started seeing our Xcode logs flooded with:

[code]

These logs start as soon as the app starts and do not end, even with no state updates on RN side.

I confirmed that removing `react-native-ux-cam` made the logs stop. Reporting this mainly because it makes debugging other things in Xc

[2022-02-03 22:16] Cavallando commented on #139
Accidentally posted this on the wrong repo (might still apply, but closing), right link for anyone that stumbles upon this [here](https://github.com/uxcam/react-native-ux-cam/issues/38)

[2022-02-03 22:16] #139 closed, assigned to nobody

[2022-03-01 11:11] #137 closed, assigned to nobody

[2022-11-07 14:02] henrique-in commented on #105
I have this problem when generating an apk

       buildToolsVersion = "31.0.0"
       minSdkVersion = 26
        compileSdkVersion = 31
        targetSdkVersion = 31
        kotlinVersion = '1.6.0'
        androidXCore = "1.6.0"

`
Task :react-native-ux-cam:verifyReleaseResources FAILED
FAILURE: Build failed with an exception.What went wrong:
Execution failed for task ':react-native-ux-cam:verify

[2022-11-10 10:54] meznaric commented on #105
@henrique-in 👇

If anyone finds themselves here in this issue, it turns out it's a widespread RN issue: https://github.com/facebook/react-native/issues/35210 . Upgrading RN fixed it for us.

Also note, this repository is deprecated so you should probably continue discussion in https://github.com/uxcam/react-native-ux-cam